name: Tests

on:
  push:
    branches: [ backport-java17 ]
  pull_request:
    branches: [ backport-java17 ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven

    - name: Build and Test with Maven
      run: mvn clean test
